.page-catalog .page-header {
    border-bottom: 1px solid @special_grey;
} 

.page-catalog__title {
    .page-title(@black);
    margin: 0;
    
}


.page-catalog__wrapper {
    padding-bottom: 41px;
    padding-top: 27px;
    border-bottom: 1px solid @special_grey-2;
}

.page-catalog .welcome {
    background-color: @basic-grey;
}